% extends "base.html" %}

{% set hideMenu = True %}
{% block title %}404 - Not found{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h1>404 - Not found  :(</h1>
            <h2>Sayang halamannya ga ada :(</h2>
            <p>Kalau kamu yakin kalau seharusnya halaman ini ada, silakan tanya ke tim PTN</p>
        </div>
    </div>
{% endblock %}