{% extends "base.html" %}

{% set hideMenu = True %}
{% block title %}500 - Internal server error{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h1>500 - Internal server error</h1>
            <p>Hmm. Harusnya ini ga terjadi</p>
            <p>Mohon tunggu sebentar. Kalau hal ini melebihi 2 jam, silakan hubungi tim PTN</p>
        </div>
    </div>
{% endblock %}
