{%- import 'macros.html' as macros -%}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {%- block head %}
            <meta charset="utf-8"/>
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <title>{% block title %}| {{ applicationName }}{% endblock %}</title>

            <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}"/>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>

            <!-- favicon & app stuff -->
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/android-chrome-192x192.png') }}" sizes="192x192">
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}" sizes="96x96">
            <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
            <meta name="theme-color" content="{{ url_for('static', filename='img/favicon/background')}}">
            <!-- end of favicon & app stuff -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
        {%- endblock %}
    </head>
    <body>
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
                {%- if hideMenu is not defined -%}
                    {%- include 'menu.html' -%}
                {%- endif -%}
                <div class="off-canvas-content" data-off-canvas-content>
                    {% if hideMenu is not defined %}
                    <div class="title-bar hide-for-large">
                        <div class="title-bar-left">
                            <button class="menu-icon" type="button" data-open="application-menu"></button>
                            <span class="title-bar-title">{{ applicationName }}</span>
                        </div>
                        <div class="title-bar-right">
                            {% from "macros.html" import render_field %}
                            <form method=post>
                                <dl>
                                    {{ render_field(form.select) }}
                                    <p>
                                    {{ render_field(form.search) }}
                                  </dl>
                                  <p><input type=submit value=Search>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    <div class="flow">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {# Load scripts only at the end of the page #}
        <div id="scripts">
            {% block scripts %}
                <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
                <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
                <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>