{% extends "base.html" %}

{% block title %}Manage my account {{ super() }}{% endblock %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="columns">
            <h1>Atur akun anda</h1>
        </div>
        <form method="post" name="userForm" id="userForm">
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="grid-x">
                        <div class="callout alert">
                            <ul class="flashes">
                                {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% if form.errors %}
                <div class="grid-x">
                    <div class="callout alert">
                        {% for field, error in form.errors.items() %}
                            {% for e in error %}
                                {{ e }}<br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="grid-x">
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.current_password) }}
                    </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5" style="float: left; width: inherit; margin-right: 20px">
                        {{ macros.render_field(form.new_password, helpText='Your password must have at least 10 characters.') }}
                    </div>
                    <div class="medium-5" style="float: inherit; width: inherit;">
                        {{ macros.render_field(form.new_password_repeat) }}
                    </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.name) }}
                    </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.email) }}
                    </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.jurusan1, helpText='format:((Nama lengkap jurusan) - (Nama singkat perguruan tinggi/kedinasan)') }}
                    </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.jurusan2), helpText='format:((Nama lengkap jurusan) - (Nama singkat perguruan tinggi/kedinasan)') }}
                    </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.jurusan3), helpText='format:((Nama lengkap jurusan) - (Nama singkat perguruan tinggi/kedinasan)') }}
                    </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.wa) }}
                    </div>
                </div>                
                <div class="medium-12 columns">
                        <div class="medium-5">
                            {{ macros.render_field(form.kelas), helpText='format: {{ kelas jurusan angka }} contoh: XII IPA 3 '}}
                        </div>
                    </div>
                <div class="medium-12 columns">
                    {{ macros.render_field(form.submit) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
