{% extends "base.html" %}

{% block title %}Reset user password {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h5>Reset password</h5>
            <p>Sebuah email mengenai prosedur reset password telah dikirimkan.</p>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="grid-x">
                <div class="callout alert">
                    <ul class="flashes">
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}