{% extends "base.html" %}

{% block title %}Recover password {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h5>Pulihkan password</h5>
            <p>Dalam rangka memulihkan akunmu, kami perlu alamat email anda supaya kami dapat mengirimkan prosedur reset password</p>
        </div>
    </div>
    <form method="post" name="resetForm" id="resetForm" action="{{ url_for('.reset') }}">
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="grid-x">
                    <div class="callout alert">
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% if form.errors %}
        <div>
            {% for field, error in form.errors.items() %}
                {% for e in error %}
                    {{ e }}<br>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="grid-x">
            <div class="medium-12 columns">
                {{ macros.render_field(form.email) }}
            </div>
            <div class="medium-12 columns">
                {{ macros.render_field(form.submit) }}
            </div>
        </div>
    </form>
{% endblock %}