{% extends "base.html" %}

{% block title %}Daftar {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h5>Daftar</h5>
            <p>Please enter your email address so we can send an verification email</p>
            <p>Mohon tuliskan alamat emailmu supaya kami dapat mengirimkan verifikasi.</p>
        </div>
    </div>
    <form method="post" name="registrationForm" id="registrationForm" action="{{ url_for('.daftar') }}">
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="grid-x">
                    <div class="callout alert">
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% if form.errors %}
        <div>
            {% for field, error in form.errors.items() %}
                {% for e in error %}
                    {{ e }}<br>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="grid-x">
            <div class="medium-12 columns">
                {{ macros.render_field(form.email) }}
            </div>
            <div class="medium-12 columns">
                {{ macros.render_field(form.submit) }}
            </div>
            <div class="medium-12 columns">
                <p>Forgot your password? <a href="{{ url_for('.reset')}}">Reset your password</a>.</p>
            </div>
        </div>
    </form>
{% endblock %}