{% extends "base.html" %}

{% block title %}Data diri {{ view_user.name }} {{ super() }}{% endblock %}

{% block body %}
    {{ super() }}
    <br>
    <div class="grid-x">
        <h1>Data diri dari {{ view_user.name }}</h1>
        <p>Name: {{ view_user.name }}</p>
        <p>Email: {{ view_user.email }}</p>
        <p>Kelas: {{ view_user.kelas }}</p>
        <p>Nomor WA: {{ view_user.wa }}</p>
        <p>Pilihan jurusan 1: {{ view_user.jurusan1 }}</p>
        <p>Pilihan jurusan 2: {{ view_user.jurusan2 }}</p>
        <p>Pilihan jurusan 3: {{ view_user.jurusan3 }}</p>
    </div>
{% endblock %}