{% extends "base.html" %}

{% block title %}Manage users {{ super() }}{% endblock %}

{% block body %}
    {{ super() }}
    <br>
    <div class="grid-x">
        <h1>Manage users</h1>
        <p>Below you can find an overview of all registered users on the platform.</p>
    </div>
    <div class="grid-x">
        <table class="stack hover sortable" id="userTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th class="sorttable_nosort">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.email }}</td>
                    <td class="user-actions">
                        <a href="{{ url_for('.user', uid=u.id) }}"><i class="fa fa-info-circle" title="View user"></i></a>
                        <a href="{{ url_for('.reset_user', uid=u.id) }}"><i class="fa fa-support" title="Reset password"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}